{% load static %}
<section id='about' class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0 bg-white-cream min-h-screen">
    <div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
        <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100"
             fill="#FFFCF5" preserveAspectRatio="none slice">
            <path d="M50 0H100L50 100H0L50 0Z"></path>
        </svg>
        {% if content.picture %}
            <img 
                class="object-cover w-full md:w-[80%] ml-auto h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full" 
                src="{{ content.picture.url }}"
                alt="Haci"
            >
        {% endif %}
        
    </div>
    <div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
        <div class="md:mb-16 lg:my-28 lg:max-w-lg lg:pr-5">
            {{ content.translated_text|safe }}
        </div>
    </div>
</section>