{% load static %}
<section id='beach' class="relative flex flex-col md:flex-row py-16 lg:pt-0 lg:pb-0 bg-blue min-h-screen">
    <div class="relative flex flex-col justify-center w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl text-white">
        <div class="w-full lg:pr-5 mx-auto flex flex-col space-x-12">
            <div class="flex flex-col md:flex-row md:space-x-12 space-y-4 items-center">
                <img
                        class="object-cover rounded-full w-64 h-64"
                        src="{% static 'img/test.jpg' %}"
                        alt=""
                />

                <p class="text-base">
                    <span class="font-special md:text-7xl text-5xl text-blue-light text-center md:text-left">Boheme-style beach bar</span>
                    <br>
                    that boasts kilometres of pristine sandy beach and
                    crystal-clear waters. Relax and unwind on our sunbeds and under our umbrellas while enjoying the warm
                    sunshine. Sip on a refreshing cocktail from our beach bar and soak up the breathtaking views of the
                    beautiful coastline.
                </p>
            </div>

            <div class="flex flex-col md:flex-row md:space-x-12 space-y-4 !ml-0 items-center">
                <p class="text-base md:text-lg order-1 md:order-0">
                    <span class="font-special md:text-7xl text-5xl inline-block w-full text-blue-light mt-2 text-center md:text-left">Feeling hungry?</span> 
                    <br>
                    We offer a snack menu with delicious options, including healthy snack choices and
                    breakfast options to start your day off right. Our restaurant and bar offer an eclectic mix of tasty
                    dishes and drinks that will satisfy all of your cravings.
                    As the day draws to a close, join us for sundowners with chill-out music and our famous cocktails. Our
                    expert bartenders will mix up the perfect drink to enjoy while you watch the sunset over the horizon.
                </p>

                <img
                    class="object-cover rounded-full w-64 h-64 order-0 md:order-1"
                    src="{% static 'img/test.jpg' %}"
                    alt=""
                />
            </div>

            <div class="flex flex-col md:flex-row md:space-x-12 space-y-4 !ml-0 items-center">
                <img
                        class="object-cover rounded-full w-64 h-64"
                        src="{% static 'img/test.jpg' %}"
                        alt=""
                />
                
                <p class="text-base md:text-lg">
                    <span class="font-special text-7xl text-blue-light">Windy days?</span> 
                    <br>
                    Our beach is the perfect spot for kitesurfing. We have a designated area where you can
                    pump and launch your kite safely. And if you're an early riser, grab a SUP and paddle along the
                    beautiful coastline for a peaceful and invigorating start to your day.
                </p>
            </div>
        </div>
    </div>
</section>