{% load static %}
<section id='beach' class="relative flex flex-col md:flex-row py-16 lg:pt-0 lg:pb-0 bg-blue min-h-screen">
    <div class="w-full md:w-1/2 p-4 md:p-12">
        <img
                class="object-cover w-full rounded md:rounded-full h-fit lg:h-full"
                src="{% static 'img/test.jpg' %}"
                alt=""
        />
    </div>
    
    <div class="relative flex flex-col items-start w-full md:w-1/2 max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl text-white">
        <div class="mb-16 lg:my-28 lg:max-w-lg lg:pr-5 mx-auto">
            <h2 class="mb-5 font-spectral text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none">
                Beach: Haci Beach is not just a place, it's a vibe.
            </h2>
            <p class="pr-5 mb-5 text-base md:text-lg">
                Named after the one and only <strong>Haci (/'ha:ji/)</strong> - a unique and recognizable
                individual - this hidden gem was discovered during one of his weekend road trips. <br><br>As a seasoned
                hospitality
                expert with years of experience running different types of restaurants and Meyhanes in the city center,
                Haci
                was yearning for a true paradise off the beaten track. And boy, did he find it! Haci Beach is now a
                one-of-a-kind destination that embodies his personality and passion for hospitality. So come on over and
                hang out at the fire pit with a glass of raki, and don't forget to have a chat with Haci. And if you
                want to
                know what he looks like, just take a glance at our logo - you'll spot him immediately!
            </p>
        </div>
    </div>
</section>