{% load static %}
{% load i18n %}
<header class="bg-white-light">
    <div class="text-blue mx-auto px-4 relative z-50">
        <div class="flex items-center justify-center">
            <!-- Logo -->
            <div class="flex items-center justify-center mr-16">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-40">
                </a>
            </div>
            <!-- Left links -->
            <div class="flex items-center space-x-12 text-xl">
                <a href="#about">{% trans "About" %}</a>
                <a href="#beach">{% trans "Beach" %}</a>
                <a href="#restaurant">{% trans "Restaurant/Bar" %}</a>
                <a href="#stay">{% trans "Stay" %}</a>
                <a href="#gallery">{% trans "Gallery" %}</a>
                <a href="#contact">{% trans "Contact" %}</a>
            </div>

            <!-- Language links -->
            <div class="ml-auto">
                <form action="{% url 'set_language' %}" method="post" class="flex items-center justify-center space-x-4">
                    {% csrf_token %}
                    {% for language in LANGUAGES %}
                    {% if language.0 == LANGUAGE_CODE %}
                    <button type="submit" name="language" value="{{ language.0 }}" class="">
                        {{ language.0 }}
                    </button>
                    {% else %}
                    <button type="submit" name="language" value="{{ language.0 }}" class="">
                        {{ language.0 }}
                    </button>
                    {% endif %}
                    {% if not forloop.last %}<span style="vertical-align: middle;">/</span>{% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</header>