
{% extends 'base.html' %}
{% load translation_tag i18n %}


{% block content %}
<div class="page">
    <h2>{{ page.title }}</h2>
    {% for content in page_contents %}
        <div class="p-4 page-content {% if content.picture %}{% if content.text_position == content.LEFT %}text-left{% else %}text-right{% endif %}{% else %}text-only{% endif %}">
            <p class="p-5">{% get_translation content content.translations language_code %}</p>
            {% if content.picture %}
                <img class="img-fluid img-thumbnail" src="{{ content.picture.url }}" alt="Page Image">
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}