{% load static %}
<section id='restaurant' class="relative flex bg-slate-300 min-h-screen">
    <div class="relative flex flex-col items-start w-1/2 max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl text-blue">
        <div class="flex flex-col space-y-4 lg:my-10 lg:max-w-xl h-full lg:pr-5 mx-auto p-10 rounded-2xl text-xl">
            <p class="mb-5 font-spectral text-l tracking-tight sm:leading-none">
                At Haci Beach, we know that good food and drink are just as essential to a great vacation as stunning
                scenery and sunny beaches. That's why our restaurant and bar are the perfect place to refuel and
                recharge during your stay.
            </p>
            <div>
                <h3>Market</h3>
                <p>
                    For those who like to keep things simple, our little market has everything you need to stock up for
                    a
                    day of hiking or camping. With fresh fruits and vegetables straight from the farmers of the local
                    village, you can be sure you're fueling your body with the best.
                </p>
            </div>

            <div>
                <h3>Restaurant</h3>
                <p>
                    And for those who prefer a bit more variety, our restaurant offers delicious options all day long.
                    Start your day with a typical Turkish breakfast featuring omelettes or a refreshing smoothie bowl.
                    As
                    you soak up the sun on the beach, enjoy a fresh sandwich or a crisp salad from our lunch menu. And
                    when
                    evening rolls around, indulge in the catch of the day paired perfectly with a glass of raki.
                </p>
            </div>
            <div>
                <h3>Bar</h3>
                <p>
                    But the real star of the show? Our bar, of course. From perfectly mixed Negronis to frozen
                    strawberry
                    daiquiris during happy hour, our cocktails are the perfect accompaniment to a stunning sunset. And
                    for
                    those who need a little boost in the morning, our freshly brewed coffee is sure to do the trick.
                </p>
            </div>
        </div>
    </div>

    <div class="w-1/2 py-10">
        <img
                class="object-cover w-full h-56 md:h-96 lg:h-full rounded-l-lg"
                src="{% static 'img/test.jpg' %}"
                alt=""
        />
    </div>
</section>