{% load static %}
{% load i18n %}

<section id="stay" class="relative md:sticky md:top-0 bg-sky-950 min-h-screen">
    <div class="flex flex-col space-y-8 justify-center w-full max-w-7xl mx-auto p-4">
        <p class="text-3xl text-white">
            At Haci Beach, we believe that the best way to fully enjoy the beauty of nature is to spend the night right
            in the heart of it. That's why we offer a range of accommodation options that allow you to experience the
            pristine beauty of our location, located right on the Lycian Way.
        </p>

        <div class="flex flex-col md:flex-row space-y-4 md:space-x-8">
            <div class="rounded-lg overflow-hidden bg-white shadow-md shadow-black/30">
                <img
                        class="object-cover w-full h-72"
                        src="{% static 'img/test.jpg' %}"
                        alt="image"
                />
                <div class="p-4 pb-8">
                    <h3 class="text-5xl mb-4">Caravan</h3>
                    <p>
                        For those looking for a more adventurous stay, come with your own caravan. Our Caravan Park
                        offers
                        electricity and water connection for you. With breathtaking views of the sea and the surrounding
                        landscape, you'll feel like a true globetrotter on the road.
                    </p>
                </div>
            </div>

            <div class="rounded-lg overflow-hidden bg-white shadow-md shadow-black/30">
                <img
                        class="object-cover w-full h-72"
                        src="{% static 'img/test.jpg' %}"
                        alt="image"
                />
                <div class="p-4 pb-8">
                    <h3 class="text-5xl mb-4">Tents</h3>
                    <p>
                        And for those who prefer the pure camping experience, we offer tents that will allow you to
                        fully immerse yourself in the beauty of our location. With communal bathrooms and a campfire
                        area available for your convenience, you'll have everything you need to make your stay as
                        enjoyable as possible.
                    </p>
                </div>
            </div>
        </div>

        <p class="text-3xl text-white">
            No matter which option you choose, a stay at Haci Beach promises to be an unforgettable experience. And to
            kick off your day of adventure, we provide all of our guests with a traditional Turkish breakfast each
            morning. No matter where you're waking up you can start your day off right with a hearty and healthy
            breakfast at Haci Beach. So why wait? Book your stay today and start planning your dream vacation in the
            heart of nature.
        </p>
    </div>
</section>